@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


body {
    font-family: inter;
    background-color: transparent;
    overflow-x: hidden;
}

.app img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
* {
    color: var(--text-color);
}

.logo {
    margin-bottom: 0;
    padding-bottom: 0;
}

#time {
    margin-top: 0;
    padding-top: 0;
}

.division h3 {
    transition: all 0.3s ease;
}

.main_button{
    padding: 14px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(7,7,7,0.2);
    border-radius: 4px;
    background-color: var(--theme-tertiary);
    cursor: pointer;
    transition: all 0.3s ease;
}

.main_button:hover {
    background-color: var(--theme-quaternary);
    transform: translateY(-2px);
    box-shadow: 2px 2px 2px 2px rgba(7,7,7,0.3);
}

.main_button_type2 {
    padding: 14px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--theme-secondary);
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main_button_type2:hover {
    background-color: var(--theme-tertiary);
    transform: translateY(-2px);
    box-shadow: 2px 2px 2px 2px rgba(7,7,7,0.3);
}

.logo {
    font-size: 60px;
    padding: 0px;
}

input {
    width:60%;
    background-color: rgba(var(--theme-secondary-rgb), 0.3);
    padding: 14px;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    animation: shrink 0.3s ease;
}

.division .apps  {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 20px;
    height: 170px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: 10px;
    padding-right: 10px;
}

.division .apps::-webkit-scrollbar {
    background-color: var(--theme-tertiary);
    color: var(--theme-secondary);
    height: 7px;
}
.division .apps::-webkit-scrollbar-thumb {
    background-color: var(--theme-secondary);
}

.division .apps img { /* how far will css let me stack these??? */
    min-height: 150px;
    max-height: 150px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    cursor: pointer;
}

.division .apps img:first-child {
    margin-left: 5px;
}

.division .apps img:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#search-res {
    text-align: left;
    margin-bottom: 20px;
}

#search-res h3 {
    margin-left: 10px;
}