/*
default color pallet:
0D1B2A
1B263B
415A77
778DA9
E0E1DD
*/
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


* {
    font-family: inter;
}

#tabs {
    width: 100%; /*calc(100% - 40px);*/
    margin-left: 0px;
    gap: 8px;
    display: flex;
    height: 30px;
    align-items: center;
}

.sidebar {
    width:45px;
    position: fixed;
    top: 5px;
    left: 0px;
    height: calc(100% - 25px);
    background-color: rgba(27, 38, 59, 0.6); 
    backdrop-filter: blur(12px); 
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    display: none;
    padding-top: 10px;
    z-index: 100;
}

.sidebar img {
    width: 28px; 
    height: 28px;
    margin-bottom: 12px;
    object-fit: contain;
    opacity: 0.8;
    transition: 0.2s;
}


#search-section {
    display: flex;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    
    justify-content: center;
    position: relative;
    
}

.search-bar {
    border: none;
    height: 24px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 2px 8px;
    padding-right: 46px;
    padding-left: 10px; 
    width: 100%;
    background-color: rgb(27, 38, 59, 0.3);
    backdrop-filter: blur(5px);
}

.favicon-rest {
    padding: 2px;
    padding-left: 10px;
    background-color: white;
    border: none;
    height: 24px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* Hey frogiee, copying code thats the same instead of rewriting it isn't the same as using chatgpt? */
    /* hard to understand, ik. but you like to say with full confidence that non-chatgpt'd code is chatgpt. */
             background-color: rgb(27, 38, 59, 0.3);
        backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
}

.favicon-rest img {
    display: block;
}

#controls {
    margin-top: 5px;
    height: 30px;
    display: none;
    width: calc(100% - 0px);
    margin-left: 0px;
}

.tab {
    display: flex;
    padding: 8px;
    background-color: rgb(27, 38, 59, 0.5);
    backdrop-filter: blur(5px);
    width: 150px;
    border-radius: 4px;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.tab.active {
    background-color: rgb(27, 38, 59, 0.1);
}

#controls-button {
    padding: 2px 4px;
    border-radius: 60%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    gap: 8px;
}

#controls-buttons-right {
    margin-left: auto;
    gap: 89px;
}

#frames {
    height: calc(100vh - 88px);
    margin-top: 5px;
}

#frames iframe {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 8px;
}

#favi {
    width: 20px;
}

.x-button {
    cursor: pointer;
}